@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  #E8AEA3;
    font-family: 'Montserrat', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Nav bar */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    position: sticky; 
    z-index: 9999; 
    top: 0;  
}
nav ul{
    display: flex;
}
nav ul li a{
    font-family: 'Montserrat', sans-serif;
    height: 40px;
    line-height: 43px;
    margin: 8px;
    padding: 0px 17px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    transition: 00.6s ease;
  
}
nav ul li a:hover{
    border-bottom: 2px solid #e900af;
    box-shadow: 5px 10px 30px rgba(255, 0, 212, 0.993);
}

/* home-page */  
img{
    height: 400px;
    width: 270px;
    margin-left: 70%;
    margin-top: -35%;
    
}
#home-img2{
    height: 400px;
    width: 270px;
    margin-left: 28%;
    margin-top: -25%;
}
#home-page{ 
    height: 450px;   
    padding-top: 10%;
}
.home-page-heading{
    width: 1250px;
    height: 520px;
    position: absolute;
    left: 5%;
    top: 53%;   
    color:  #e900af00;
    transform: translate(-1%, -50%); 
    background-color: rgba(255, 253, 253, 0.33);  
}
.home-page-heading h1{
    font-size: 50px;
    margin: 0px;
    letter-spacing: 3px;
    
}
.home-page-heading h1 span{
    color: #ffffff;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    margin-left: 70px;
    opacity: 50%;
    margin-top: 80px;
}
#one{
    color: #000000;
    margin-left: 250px; 
    font-size: large;  
    font-weight: 1000; 
} 
#two{
    color: rgba(0, 0, 0, 0.993);
    margin-left: 270px;
    font-size: large;
    font-weight: 1000;
}


/* About */
#about{
    background-color: salmon;
    width: 100;
    height: 800px;
    display: flex;
    align-items: center;    
}




/* Contact */
/* #contact{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 0px;
    background-color: #1e1e1e;
}
#contact form{
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#contact form input, #contact form textarea{
    width: 100%;
    height: 50px;
    margin: 5px 0px;
    padding: 10px;
    background-color: #fff;
    color: #1e1e1e;
    border-radius: 5px;
}
#contact form textarea{
    height: 150px;
}
#contact form input[type="submit"]{
    height: 45px;
    background-color: #00e9a5;
    color: #000;
    text-transform: uppercase;
} */